@page
@using Assignment_2.Data
@model Assignment_2.Pages.Users.CreateModel

@Html.AntiForgeryToken()
@{
    ViewData["Title"] = "Create";
}

@section Styles {
    <link href="~/css/user.css" rel="stylesheet" />
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9/core.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9/sha256.js"></script>

<div class="whiteBox">

    <h1>Register</h1>

    <hr />
    <div class="errorSpot">Error</div>
    <div class="row">
        <div class="col-md-4">
            <form id="user_form" method="post">
                <div class="text-danger"></div>
                <div class="form-group">
                    <label class="control-label">Username</label>
                    <input class="form-control" id="username_raw" />
                    <span class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Password</label>
                    <input id="password_raw" class="form-control" type="password" />
                    <span class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input id="salt-input" type="hidden" class="form-control" />
                </div>
                <div class="form-group">
                    <label class="control-label">Group</label>
                    <div id="combo"></div>
                </div>
                <div class="form-group" id="group-name-div" style="display: none;">
                    <label class="control-label">Group Name</label>
                    <input id="group-name-raw" class="form-control" name="group-name" type="text"/>
                </div>
                <div class="form-group">
                    <label>Just Observing?</label>
                    <input id="is-observer" name="is-observer" type="checkbox"/>
                </div>
                <div class="form-group">
                    <input type="button" value="Create" class="btn btn-primary" onClick="submitUserForm()" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a class="btn btn-success" href="../../">Back</a>
    </div>

</div>

<script src="~/js/user.js" asp-append-version="true"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
