@page
@model Assignment_2.Pages.gameModel
@{

}

<div>
    <div id="local-board" class="game-board"></div>
    <div id="remote-board" class="game-board"></div>


</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/game.js" asp-append-version="true"></script>
