@page
@model Assignment_2.Pages.groupModel
@{
}

<div id="combo"></div>
<div id="pichart"></div>

<script src="https://d3js.org/d3.v4.js"></script>
<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
<script src="~/js/pichart.js" asp-append-version="true"></script>
<script src="~/js/group.js" asp-append-version="true"></script>