@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="whiteBox">
    <div>
        <center><img src="~/lib/WorkD.png" alt="WorkD" id="workd" /></center>
        <h3 class="text-center">The premier time tracking software</h3>
    </div>

    <div>
        <a id="loginButton1" class="btn btn-danger float-right mainButton" href="/users/create">Register</a>
        <a id="loginButton2" class="btn btn-warning float-right mainButton" href="/users/login">Login</a>
    </div>

    <div>
        <br />
        <p>To get started Login or Register a New Account</p>
    </div>
</div>

<script src="~/js/user.js" asp-append-version="true"></script>
<script src="~/js/signalr/dist/browser/signalr.js"></script>